.flex {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.block {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.crt-task-btn {
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0px 5px 5px;
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    padding: 5px;
    color: white;
    background-color: rgb(0, 154, 201);
}

.crt-task-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 154, 201, 0.7);
}

.crt-task-btn:active {
    cursor: pointer;
    background-color: rgba(0, 154, 201, 0.438);
}

.filter {
    margin: 5px 10px;
}

.filter label {
    font-weight: 600;
    margin-right: 5px;
}

.filter select {
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
}

.filter option {
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
}

.project-page {
    flex-wrap: wrap;
}

.add-proj-btn {
    color: rgb(196, 192, 192);
    font-size: 60px;
}

.project-tile {
    box-sizing: border-box;
    color: black;
    width: 24%;
    min-width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 0px 20px 1%;
    text-decoration: none;
}

.project-tile:hover {
    background-color: rgba(116, 111, 111, 0.25);
    cursor: pointer;
}