.boardContainer {
    margin: 5px 0px 5px 0px;
    width: 25%;
    overflow-y: auto;
}

.board-over {
    background: rgba(128, 128, 128, 0.329);
}

.boardContainer:nth-child(-n+3) {
    border-right: 1px solid black;
}