.boardContainer {
    width: 25%;
    height: 70vh;
    border: 3px solid saddlebrown;
    border-radius: 10px;
    margin: 0px 5px;
    background-color: rgb(245, 159, 149);
}

.boarder-title {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    width: 100%;
    margin: 0px;
}