body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
<<<<<<< HEAD
    background-color: #292929;
    color:#FFFFFF;
=======
    background-color: #FAFAFA
>>>>>>> 5d4ad0967b61bdb82bdeea87b1f8b58a1bc85d97
}

button{
    font-family: 'Varela Round', sans-serif;
}

div,
p,
li,
h1,
h2,
h3,
ul,
section {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.priority-default {
    color: aquamarine;
}

.priority-low {
    color: rgb(36, 175, 8)
}

.priority-medium {
    color: rgb(255, 174, 0)
}

.priority-high {
    color: rgb(255, 111, 27)
}

.priority-veryhigh {
    color: rgb(255, 15, 15)
}

.status-todo {
    background-color: #116b86;
}

.status-in-progress {
    background-color: #FFC32C;
}

.status-blocked {
    background-color: #ED4D4D;
}

.status-done {
    background-color: #3F9469;
}

.main-page-container {
    height: 100vh;
    display: flex;
}

.content-container{
    background-color: #292929;
    color: #FFFFFF;
    width: 85%;
    padding: 5px;
}

.header-container {
    width: auto;
    height: 10vh; 
}