.board-project {
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 2px solid rgb(68, 65, 65);
    border-radius: 5px 5px 5px 5px;
}

.board-project-header {
    background-color: rgb(68, 65, 65);
    padding: 5px 5px 5px 5px;
}

.expand-btn {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
}

.expand-btn:hover {
    cursor: pointer;
    color: gray
}