.menu-item {
    width: auto;
    padding: 10px 5px;
    border: 1px solid black;
    background-color: rgb(235, 101, 101);
}

.menu-item:hover{
    cursor: pointer;
    background-color: rgb(238, 133, 133);
}