.tasks-container-list {
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 10px;
    margin-top: 5px;
}

.tasks-container-project-details {
    max-height: 72vh;
    overflow-y: auto;
    border-radius: 10px;
}

.not-task-text {
    margin: 5px 10px 10px 10px;
    text-align: center;
    font-size: 20px;
    color: #fafafa;
}

.crt-task-btn {
    font-size: 15px;
    border: 0px;
    border-radius: 5px;
    width: 150px;
    margin-left: 5px;
    height: 30px;
    padding: 5px;
    color: white;
    background-color: rgb(0, 154, 201);
}

.crt-task-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 154, 201, 0.7);
}

.crt-task-btn:active {
    cursor: pointer;
    background-color: rgba(0, 154, 201, 0.438);
}